#wrapper{
    width: 330px;
    margin: 0 auto;
    padding: 10px;
    border: 1.5px solid black;
}
.clearfix{
    content: "";
    clear: both;
    display: table;
}
.float{
    float: left;
    padding: 3px;
}
#tarea{
    height: 25px;
    width: 200px;
    border-radius: 10px;
}
#add{
    height: 30px;
    width: 60px;
    border-radius: 10px;
}
#category{
    height: 33px;
    width: 140px;
    border-radius: 10px;
}
img{
    width: 30px;
    height: 30px;
}
ul{
    list-style: none;
}
p{
    margin: 0px;
}
li{
    float: left;
    padding: 5px;
}
#lista{
    padding-left:0px;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.lista_li input[type="checkbox"]:checked+img+p{
    text-decoration:line-through;
    color:#999
}
.delete{
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
    padding: 5px;
    margin-left:10px;
    border:none;
    background-color:transparent;
    background-image:url(./img/trash.png);
    background-repeat:no-repeat;
    background-size:12px 15.75px;
    width:12px;height:16px
}
.edit{
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
    padding:5px;
    margin-left:10px;
    border:none;
    background-color:transparent;
    background-image:url(./img/lapices.png);
    background-repeat:no-repeat;
    background-size:12px 15.75px;
    width:12px;height:16px
}