body{
    background-color: #e0f2f1;
    font-family: 'Roboto Condensed', sans-serif;
}
#wrapper{
    width: 475px;
    margin: 0 auto;
    padding: 10px;
    border: 1.5px solid #004d40;
}
.clearfix{
    content: "";
    clear: both;
    display: table;
}
.float{
    float: left;
    padding: 3px;
}
#tarea{
    height: 25px;
    width: 209px;
    border: 1px solid #004d40;
    border-radius: 7px;
    margin-left: 100px;
}
#add{
    height: 32px;
    width: 70px;
    border-radius: 7px;
    margin-left: 7px;
    margin-top: 7px;
    border: 1px solid ;
    background-color: #26a69a;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: medium;
}
#category{
    height: 32px;
    width: 140px;
    border-radius: 7px;
    margin-left: 100px;
    margin-top: 7px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: medium;
}
#remove{
    height: 32px;
    border-radius: 7px;
    border: 1px solid #004d40;
    float: right;
    margin-right: 160px;
    background-color: #26a69a;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: medium;

}
#remove:hover{
    background-color: #00897b;
    color: #fff;
    border: 1px solid #004d40;
}
#add:hover{
    background-color: #00897b;
    color: #fff;
    border: 1px solid #004d40;
}
.category_task{
    text-transform: uppercase;
}
img{
    width: 30px;
    height: 30px;
}
ul{
    list-style: none;
}
p{
    margin: 0px;
}
li{
    float: left;
    padding: 5px;
}
#lista{
    padding-left:0px;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
.lista_li input[type="checkbox"]:checked+img+p{
    text-decoration:line-through;
    color:#999
}
.delete{
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
    padding: 5px;
    margin-left:10px;
    border:none;
    background-color:transparent;
    background-image:url(./img/trash.png);
    background-repeat:no-repeat;
    background-size:12px 15.75px;
    width:12px;height:16px
}
.edit{
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
    padding:5px;
    margin-left:10px;
    border:none;
    background-color:transparent;
    background-image:url(./img/lapices.png);
    background-repeat:no-repeat;
    background-size:12px 15.75px;
    width:12px;height:16px
}
label{
    padding: 0px 5px 0px 5px;
}